@font-face {
    font-family: caveat;
    src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: livvic-semi-bold;
    src: url(../../fonts/Livvic/Livvic-SemiBold.ttf)
}

@font-face {
    font-family: roboto-medium;
    src: url(../../fonts/Roboto/Roboto-Medium.ttf)
}

@font-face {
    font-family: spartan-bold;
    src: url(../../fonts/Spartan/static/Spartan-Bold.ttf)
}

@font-face {
    font-family: spartan-regular;
    src: url(../../fonts/Spartan/static/Spartan-Regular.ttf)
}